.send-form {
    border-top: 1px dashed darkorange;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 50px;
}

.form input {
    width: 400px;
    height: 50px;
    margin-right: 20px;
}

.form button {
    width: 200px;
    height: 50px;
    background-color: darkorange;
    border: none;
    line-height: 14px;
    margin-top: 15px;
}
